h2 {
    text-align: center;
}

.form1 {
    float: left;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
}

.form1heading {
    font-family: inherit;
    color: #252EFF;
}

.form1element {
    border-radius: 10px;
    border: 2px solid #6066FF;
    margin: 0px 25px 15px 25px;
    width: 200px;
}

.form1button {
    width: 140px;
    height: 30px;
    background-color: #252EFF;
    border: 2px solid #6066FF;
    color: white;
    border-radius: 20px;
    margin: 10px 40px 0px 55px;
}

.form2 {
    float: right;
    width: 250px;
    height: 250px;
    background-color: black;
    margin-right: 700px;
    border-radius: 10px;
}

.form2heading {
    font-family: inherit;
    color: white;
}

.form2element {
    border-radius: 10px;
    border: 2px solid #6066FF;
    background-color: black;
    color: white;
    margin: 0px 25px 15px 25px;
    width: 200px;
}

.form2button {
    width: 140px;
    height: 30px;
    background-color: #8B54FF;
    border: 2px solid #9CA6FF;
    color: white;
    border-radius: 20px;
    margin: 10px 40px 0px 55px;
}

.clearfix {
    clear: both;
}

.form3 {
    float: left;
    margin: 5px;
    width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

.form3heading {
    font-family: inherit;
    color: #252EFF;
}

.form3element {
    border-radius: 10px;
    border: 2px solid #6066FF;
    margin: 0px 25px 7px 20px;
    width: 200px;
}

.form3button {
    width: 200px;
    height: 30px;
    background-color: #252EFF;
    border: 2px solid #6066FF;
    color: white;
    border-radius: 20px;
    margin: 10px 40px 0px 25px;
}

.form4 {
    float: right;
    margin: 5px 700px 0px 5px;
    width: 250px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
}

.form4heading {
    font-family: inherit;
    color: white;
}

.form4element {
    border-radius: 10px;
    border: 2px solid #6066FF;
    background-color: black;
    color: white;
    margin: 0px 25px 7px 20px;
    width: 200px;
}

.form4button {
    width: 200px;
    height: 30px;
    background-color: #8B54FF;
    border: 2px solid #6066FF;
    color: white;
    border-radius: 20px;
    margin: 10px 40px 0px 25px;
}
