.slide {
    width: 300px;
    height: 300px;
}

.slide img {
    height: 100%;
    object-fit: cover;
}

.slider {
    display: flex;
    width: 1500px;
    height: 300px;
    position: absolute;
    transition: all 0.5s ease;
}

.wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.container {
    width: 300px;
    text-align: center;
}

.sliderBtn {
    margin: 10px 0;

}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
}

.dots {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.active, .dot:hover {
    background-color: #777;
}