* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

:root {
    --main-color: #95846C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

nav img {
    height: 60px;
    margin-right: 30px;
}

.navbar {
    width: 100%;
    font-size: small;
    text-transform: uppercase;
    padding: 0;
    align-items: center;
}

.navbar li {
    padding-left: 15px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #272727;
}

a:active {
    color: pink;
}

a:hover {
    color: #272727;
}
.intro {
    height: 390px;
    background-image: url(../images/man_main_page.png), url(../images/woman_main_page.png);
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    background-color: #e8e5de;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.btn {
    background-color: var(--main-color);
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2rem;
    width: 185px;
    height: 50px;
    left: 585px;
    top: 383px;
}

.h-intro {
    margin: 48px 0 20px;
}

.p-intro {
    width: 50%;
    margin: auto;
}
.h-section1{
    margin-top: 60px;
    z-index: 1;
}
.backgroundnum{
    position: absolute;
    z-index: 0;
    font-size: 175px;
    font-family: 'Playfair Display SC';
    color: var(--main-color);
    opacity: 20%;
}

.stylist-list {
color: var(--main-color);
font-family: 'Montserrat',sans-serif;
font-weight: bold;
text-transform: uppercase;
font-size: 14px;
}

.stylist-list ul {
    list-style-type:"+";
    margin-top: 60px;
}
.stylist-list li{
margin-top: 20px;
padding-left: 9px;
}
.ksenia1 {
    margin: 30px 0 60px;
}
h3 {
    text-transform: uppercase;
}
.ksenia-description {
    margin: 30px 0 30px;
    font-size: 18px;
}
.inst {
    font-size: 17px;
    margin-top: 10px;
}
.stylist-text {
    width: 40%;
    text-transform: uppercase;
    font-weight:600;
    font-size: 12px;
    font-family: 'Montserrat';
    margin-bottom: 30px;
}